body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #1c4678;
}
.container {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
#ganres-select {
    padding: 5px 5px;
    font-size: 18px;
    border: 2px solid #2e6dba;
    border-radius: 5px;
    color: #1b3f6a;
    background-color: #dfe7ee79;
}

/* Movies Cards Section */
.main {
    width: 70%;
    height: 90vh;
    border-radius: 10px;
    border: 3px solid #c4a6cd;
    overflow: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.h1{
    text-align: center;
}
.movies-card {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5%;
    width: 90%;
    margin: 20px auto;
}
.card-item {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #437cc1;
    position: relative;
    text-align: center;
    background-color: #dfe7ee79;
    cursor: pointer;
}
.card-item.hidden {
    display: none;
}
.card-item:hover {
    box-shadow: 0px 0px 5px 5px #424E577F;
}
.img {
    max-width: 150px;
    height: auto;
    margin: 10px;
}
.add-favorite {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    outline: none;
    color: #BFBFA1FF;
    font-size: 24px;
    cursor: pointer;
}
.add-favorite:hover {
    transform: scale(1.2);
    color: #C1C170FF;
}
.add-favorite:active {
    transform: scale(1.1);
    color: #E6E606FF;
}
.fa-star.active {
    transform: scale(1.3);
    color: #E6E606FF;
}

/* Movies List Section */
.movies-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1%;
    width: 90%;
    margin: 20px auto;
}
.list-item {
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: 1px solid #437cc1;
    position: relative;
    text-align: center;
    background-color: #dfe7ee79;
    cursor: pointer;
}
.list-item.hidden {
    display: none;
}
.list-item:hover {
    box-shadow: 0px 0px 5px 5px #424E577F;
}
.list-item>div {
    text-align: start;
}
.img.list {
    max-height: 150px;
    margin: 10px;
}
.add-favorite.list {
    top: 10px;
    right: 10px;
}
.name.list {
    display: inline-block;
}
.year.list {
    display: inline-block;
    margin-left: 10px;
}
.description-string {
    text-overflow: ellipsis;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
}
.genres-block.list {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin: 10px;
}
.genres-block.list>div {
    width: auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #284568;
    text-align: center;
}

/* Favorite section */
.aside {
    width: 25%;
    height: 90vh;
    border-radius: 10px;
    border: 3px solid #c4a6cd;
    overflow: auto;
    margin-top: 3%;
    background-color: #dfe7ee79;
}
.h2 {
    font-size: 2em;
    text-align: center;
}
.star {
    color: #E6E606FF;
}
.fav-list>div {
    position: relative;
    font-size: 24px;
    margin-left: 30px;
}
.fav-name {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}
.fa-arrow-right {
    position: absolute;
    top: 18px;
    left: -25px;
}
.fa-times-circle {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #677b94;
}
.fa-times-circle:hover {
    transform: scale(1.1);
    color: #1b3f6a;
}
.fa-times-circle:active {
    transform: scale(0.9);
    color: #677b94;
}

/* details Modal window */
.details-modal {
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: #a8cbf2cd;
    position: absolute;
    top:0;
    left: 0;
    display: none;
}
.modal-window {
    display: flex;
    width: 50%;
    height: 65%;
    border: 5px solid #2e6dba;
    overflow: auto;
    border-radius: 10px;
    background-color: #dfe7ee;
    position: fixed;
    top: 15%;
    left: 25%;
}
.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    border: none;
    background: none;
    outline: none;
    font-size: 65px;
    color: #1b3f6a;
    cursor: pointer;
}
.close-btn:hover {
    transform: scale(1.2);
    color: #354e6d;
}
.close-btn:active {
    transform: scale(1.1);
    color: #284568;
}
.img-detail {
    max-width: 200px;
    height: auto;
    margin: 10px;
}
.left-side>.add-favorite{
    font-size: 45px;
    position: relative;
}
.left-side>.year {
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 700;
}
.genres-block {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    margin-left: 10px;
}
.genres-block>div {
    width: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #284568;
    text-align: center;
}
.right-side {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: space-evenly;
    line-height: 1.5;
}
.movie-name {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}

/* Options */
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.options>div {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.options>div>.fas {
    font-size: 34px;
    color:#739ed2;
    cursor: pointer;
}
.options>div>.fas.active {
    color:#1b3f6a;
}

/* Media */
@media screen and (max-width: 768px){
    body {
        font-size: 14px;
    }

    /* Movies Cards Section */
    .movies-card {
        grid-template-columns: repeat(3,1fr);
    }
    .img {
        max-width: 110px;
    }

    /* Movies List Section */
    .img.list {
        max-height: 150px;
        margin: 10px;
    }
    .description-string {
        width: 275px;
    }

    /* Favorite section */
    .h2 {
        font-size: 1.5em;
    }
    .fav-list>div {
        font-size: 18px;
    }
    .fav-name {
        font-size: 15px;
    }
    .fa-arrow-right {
        top: 17px;
    }

    /* details Modal window */
    .modal-window {
        width: 70%;
        left: 15%;
    }

    /* Options */
    .options>div {
        width: 35%;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 12px;
    }
    #ganres-select {
        font-size: 14px;
    }

    /* Movies Cards Section */
    .main {
        width: 65%;
        line-height: 1.1;
    }
    .movies-card {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3%;
    }
    .img {
        max-width: 140px;
    }
    .add-favorite {
        top: 3px;
        font-size: 30px;
    }

    /* Movies List Section */
    .img.list {
        max-height: 100px;
        margin: 10px;
    }
    .description-string {
        width: 180px;
        margin: 10px;
    }
    .add-favorite.list {
        top: 5px;
        right: 5px;
    }
    .name.list {
        font-size: 14px;
        margin: 10px;
    }
    .year.list {
        margin: 10px;
    }
    .genres-block.list {
        width: 90%;
        margin: 5px;
    }
    .genres-block.list>div {
        padding: 3px;
        border-radius: 5px;
    }

    /* Favorite section */
    .aside {
        width: 30%;
    }
    .h2 {
        font-size: 1.5em;
    }
    .fav-list>div {
        font-size: 18px;
    }
    .fav-name {
        font-size: 12px;
    }
    .fa-arrow-right {
        top: 15px;
    }

    /* details Modal window */
    .details-modal {
        content: "";
        width: 100vw;
        height: 100vh;
        background-color: #a8cbf2cd;
        position: absolute;
        top:0;
        left: 0;
        display: none;
    }
    .modal-window {
        width: 80%;
        height: 55%;
        left: 10%;
    }

    /* Options */
    .options>div {
        width: 45%;
    }
}

@media screen and (max-width: 450px) {
    body {
        font-size: 10px;
    }
    #ganres-select {
        font-size: 12px;
        padding: 3px;
    }

    /* Movies Cards Section */
    .main {
        width: 65%;
        border: 2px solid #2e6dba;
    }
    .movies-card {
        grid-template-columns: 1fr;
        grid-row-gap: 1%;
    }
    .img {
        max-width: 130px;
    }
    .add-favorite {
        position: absolute;
        top: 5px;
    }

    /* Movies List Section */
    .movies-list {
        width: 95%;
        margin: 20px auto;
    }
    .list-item {
        width: 94%;
        border-radius: 5px;
    }
    .img.list {
        max-height: 70px;
        margin: 5px;
    }
    .add-favorite.list {
        top: 5px;
        right: 0;
        font-size: 20px;
    }
    .name.list {
        font-size: 13px;
        margin: 5px;
    }
    .year.list {
        margin: 5px;
    }
    .description-string {
        width: 135px;
        padding: 2px;
        margin: 3px;
    }
    .genres-block.list {
        width: 95%;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 3px;
        margin: 3px;
    }

    /* Favorite section */
    .aside {
        width: 32%;
        border: 2px solid #2e6dba;
    }
    .h2 {
        font-size: 1.3em;
    }
    .fav-list>div {
        font-size: 16px;
        margin-left: 18px;
    }
    .fav-name {
        font-size: 12px;
    }
    .fa-arrow-right {
        top: 13px;
        left: -16px;
    }
    .fa-times-circle {
        top: 10px;
        right: 5px;
    }

    /* details Modal window */
    .modal-window {
        width: 80%;
        height: 50%;
        border: 3px solid #2e6dba;
        border-radius: 7px;
        left: 10%;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 28px;
    }
    .img-detail {
        max-width: 120px;
        margin: 7px;
    }
    .left-side>.add-favorite{
        font-size: 32px;
    }
    .left-side>.year {
        margin-left: 10px;
        font-size: 12px;
    }
    .genres-block {
        margin-top: 10px;
    }
    .genres-block>div {
        padding: 5px;
        border-radius: 7px;
    }
    .movie-name {
        font-size: 18px;
    }

    /* Options */
    .options>div {
        width: 50%;
    }
    .options>div>.fas {
        font-size: 28px;
    }

}